{% macro errorList(errors) %}
    {% if errors %}
        <ul class="errors">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% from _self import errorList %}

<form method="post" action="" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    <input type="hidden" name="action" value="contactForm/sendMessage">
    <input type="hidden" name="redirect" value="contact/thanks">

    <div class="grid">
        <div class="grid__item">
            <h5 class="flush"><label class="flush" for="fromName">Your Name</label></h5>
            <input id="fromName" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('fromName')) }}
        </div><div class="grid__item">
            <h5 class="flush"><label class="flush" for="fromEmail">Your Email</label></h5>
            <input id="fromEmail" type="text" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('fromEmail')) }}
        </div><div class="grid__item">
            <h5 class="flush"><label class="flush" for="subject">Subject</label></h5>
            <input id="subject" type="text" name="subject" value="{% if message is defined %}{{ message.subject }}{% endif %}">
            {{ message is defined and message ? errorList(message.getErrors('subject')) }}
        </div><div class="grid__item push-half--bottom">
            <h5 class="flush"><label class="flush" for="message">Message</label></h5>
            <textarea rows="10" cols="40" id="message" name="message">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
            {{ message is defined and message ? errorList(message.getErrors('message')) }}
        </div>
    </div>

    <input type="submit" value="Send" class="btn float--right">
</form>