<footer class="background-dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item lap-and-up-two-thirds">
				{% if footerContent.body %}
					{{ include(template_from_string(footerContent.body)|raw) }}
				{% endif %}
			</div><div class="grid__item lap-and-up-one-third">
				{% if footerContent.sidebar %}
					{{ include(template_from_string(footerContent.sidebar)|raw) }}
				{% endif %}
			</div><div class="grid__item">
				<small>&copy; {{ now|date('Y') }} {{ siteName }} | All Rights Reserved</small>
			</div>
		</div>
	</div>
</footer>