{% for block in entry.pageContent %}{% if block.sortOrder == 1 and entry.pageTitle == 1 %}<section class="{{ block.backgroundColor }}">
	<div class="shell hard--bottom">
		<div class="grid">
			<div class="grid__item"><h1 class="flush">{{ entry.title }}</h1></div>
		</div>
	</div>
</section>{% endif %}{#

	SECTION - AD UNIT 

	#}{% if block.type == 'adUnit' %}
		{% set image = block.backgroundImage.first %}
		<section class="{% if image %}image-fill overlay{% endif %}{{ block.backgroundColor }}">
			{% if image %}
				<div class="image__item image-blur" style="background-image: url('{{ image.url }}');"></div>
			{% endif %}
			<div class="shell {% if block.sortOrder == 1 and entry.pageTitle == 1 %}soft-half-top{% endif %}">
				<div class="grid {% if block.alignment == 'left' %}left {% elseif block.alignment == 'right' %}right {% else %}centered {% endif %}">
					<div class="grid__item {% if block.alignment != 'center' %}lap-and-up-two-thirds {% else %}lap-and-up-three-quarters {% endif %}">
						{% if block.heading %}<h2>{{ block.heading }}</h2>{% endif %}
						{{ block.body }}
						{% for link in block.links %}
							<a href="{{ link.url }}" class="btn">{{ link.text }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}{#

	CUSTOM SECTIONS

	#}{% if block.type == 'customSection' %}
		<section class="{{ block.backgroundColor }}">
			<div class="shell {% if block.sortOrder == 1 and entry.pageTitle == 1 %}soft-half-top{% endif %}">
				<div class="grid handheld-centered">
	{% endif %}{#

	#}{% if block.type == 'customSectionEnd' %}
				</div>
			</div>
		</section>
	{% endif %}{#

	Body Element

	#}{% if block.type == 'bodyElement' %}<div class="grid__item {{ block.width }} {{ block.alignment }}">
			{{ block.body }}
	</div>{% endif %}{#

	Channel Loop Element

	#}{% if block.type == 'dynamicLoopElement' %}
		{% if block.enableCards == 1 %}</div><div class="grid grid--condensed">{% endif %}
		{% if block.kind == 'channel' %}
		{% for entry in craft.entries.section( block.channel ).limit(10) %}<div class="grid__item portable-one-half anchored-one-third">
			{% if block.enableCards == 1 %}<div class="card">{% endif %}
			<h3>{{ entry.title }}</h3>
			<p>Lorem ipsum Ut occaecat nulla cillum fugiat incididunt minim magna in cupidatat.</p>
			<a href="{{ entry.url }}" class="link-arrow">{{ block.ctaLabel }}</a>
			{% if block.enableCards == 1 %}</div>{% endif %}
		</div>{% endfor %}
		{% else %}
			{% for page in block.parentPage %}
				{% for entry in craft.entries.descendantOf(page.id) %}<div class="grid__item portable-one-half anchored-one-third">
					{% if block.enableCards == 1 %}<div class="card">{% endif %}
						<h3>{{ entry.title }}</h3>
						<p>Lorem ipsum Eiusmod nulla labore veniam officia anim aliqua ullamco dolor elit exercitation.</p>
						<a href="{{ entry.url }}" class="link-arrow">{{ block.ctaLabel }}</a>
					{% if block.enableCards == 1 %}</div>{% endif %}
				</div>{% endfor %}
			{% endfor %}
		{% endif %}

	{% endif %}{#

#}{% endfor %}