{% for block in entry.pageContent %}{#

	SECTION - AD UNIT 

	#}{% if block.type == 'adUnit' %}
		{% set image = block.backgroundImage.first %}
		<section class="{% if image %}image-fill overlay {% endif %}{{ block.backgroundColor }}">
			{% if image %}
				<div class="image__item image-blur" style="background-image: url('{{ image.url }}');"></div>
			{% endif %}
			<div class="shell">
				<div class="grid soft-half--ends {% if block.alignment == 'left' %}left {% elseif block.alignment == 'right' %}right {% else %}centered {% endif %}">
					<div class="grid__item {% if block.alignment != 'center' %}lap-and-up-two-thirds {% else %}lap-and-up-three-quarters {% endif %}">
						{% if block.heading %}<h2>{{ block.heading }}</h2>{% endif %}
						{% if block.body %}
							{{ include(template_from_string(block.body)|raw) }}
						{% endif %}
						{% for link in block.links %}
							{% if link.url %}
								<a href="{{ link.url }}" class="btn">{{ link.text }}</a>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</section>
	{% endif %}{#

	Entries Loop

	#}{% if block.type == 'entriesLoop' %}
		<section class="{{ block.backgroundColor }}">
			<div class="shell">
				<div class="grid {% if block.enableCards == 1 %}grid--condensed {% endif %}">
					{% if block.kind == 'channel' %}
						{% for entry in craft.entries.section( block.channel ).limit(10) %}<div class="grid__item portable-one-half anchored-one-third">
							{% if block.enableCards == 1 %}<div class="card">{% endif %}
							<h3>{{ entry.title }}</h3>
							{% for block in entry.pageContent.type('bodyElement').limit(1) %}
								{{ block.body|hacksaw(chars='120',allow='<p>',append='&hellip;') }}
							{% endfor %}
							<a href="{{ entry.url }}" class="link-arrow">{{ block.linkLabel }}</a>
							{% if block.enableCards == 1 %}</div>{% endif %}
						</div>{% endfor %}
					{% else %}
						{% for page in block.parentPage %}
							{% for entry in craft.entries.descendantOf(page.id) %}<div class="grid__item portable-one-half anchored-one-third">
								{% if block.enableCards == 1 %}<div class="card">{% endif %}
									<h3>{{ entry.title }}</h3>
									{% for block in entry.pageContent.type('bodyElement').limit(1) %}
										{{ block.body|hacksaw(chars='120',allow='<p>',append='&hellip;') }}
									{% endfor %}

									<a href="{{ entry.url }}" class="link-arrow">{{ block.linkLabel }}</a>
									
								{% if block.enableCards == 1 %}</div>{% endif %}
							</div>{% endfor %}
						{% endfor %}
					{% endif %}
				</div>
			</div>
		</section>

	{% endif %}{#

	Users Loop

	#}{% if block.type == 'usersLoop' %}
		<section class="{{ block.backgroundColor }}">
			<div class="shell">
				<div class="grid {% if block.enableCards == 1 %}grid--condensed {% endif %}">
					{% for user in block.users %}<div class="grid__item {{ block.width }}">
						{% if block.enableCards == 1 %}<div class="card">{% endif %}

						{% if block.width == '' %}<div class="grid soft-half--ends floating floating--left"><div class="grid__item floating__item portable-one-half anchored-one-third">{% endif %}

							<div class="centered">
								
								{# Photos #}
								{% if block.showPhotos %}
									<img src="{{ user.getPhotoUrl(160) }}" alt="" class="user-image rounded">
								{% endif %}

								<h3 {% if block.showPositions %}class="flush"{% endif %}>{{ user.fullName }}</h3>
								
								{# Positions #}
								{% if block.showPositions %}
									<p class="user-title"><i>{{ user.position }}</i></p>
								{% endif %}
							</div>

						{% if block.width == '' %}</div><div class="grid__item floating__item portable-one-half anchored-two-thirds">{% endif %}
						
							{# Bios #}
							{% if block.showBios %}
								{{ user.body }}
							{% endif %}
							
							{% if block.showBios == 0 %}
								<div class="centered">
							{% endif %}

							{# Phones #}
							{% if block.showPhones and user.phone %}
								<p class="{% if block.showEmails %}flush {% endif %}">
								{% if user.phoneUnformatted %}
									<a href="tel:+1{{ user.phoneUnformatted }}">
								{% endif %}

									{{ user.phone }}

								{% if user.phoneUnformatted %}
									</a>
								{% endif %}
								</p>
							{% endif %}
							
							{# Emails #}
							{% if block.showEmails and user.email %}
								<p><a href="mailto:{{ user.email }}" class="push-bottom">{{ user.email }}</a></p>
							{% endif %}

							{% if block.showBios == 0 %}
								</div>
							{% endif %}

						{% if block.width == '' %}</div></div>{% endif %}

						{% if block.enableCards == 1 %}</div>{% endif %}
					</div>{% endfor %}
				</div>
			</div>
		</section>

	{% endif %}{#

	CUSTOM SECTIONS

	#}{% if block.type == 'customSection' %}
		<section class="{{ block.backgroundColor }}">
			<div class="shell">
				<div class="grid {% if block.condensedSection == 1 %}grid--condensed {% endif %} handheld-centered">
	{% endif %}{#

	#}{% if block.type == 'customSectionEnd' %}
				</div>
			</div>
		</section>
	{% endif %}{#

	Body Element

	#}{% if block.type == 'bodyElement' %}<div class="grid__item {{ block.width }} {% if block.alignment == 'center' %}centered {% else %}{{ block.alignment }} {% endif %}">
		{% if block.enableCards == 1 %}<div class="card">{% endif %}
		{% if block.body %}
			{{ include(template_from_string(block.body)|raw) }}
		{% endif %}
		{% if block.enableCards == 1 %}</div>{% endif %}
	</div>{% endif %}{#

	Blockquote Element

	#}{% if block.type == 'blockquoteElement' %}<div class="grid__item {{ block.width }}">
		<blockquote class="flush">
			{{ block.blockquote }}
			<footer>{{ block.source }}</footer>
		</blockquote>
	</div>{% endif %}{#

	User Element

	#}{% if block.type == 'userElement' %}{% for user in block.user %}<div class="grid__item {{ block.width }}">
		{% if block.enableCards == 1 %}<div class="card">{% endif %}
			{% if block.width == '' %}<div class="grid soft-half--ends floating floating--left"><div class="grid__item floating__item portable-one-half anchored-one-third">{% endif %}

			<div class="centered">
				
				{# Photos #}
				{% if block.showPhotos %}
					<img src="{{ user.getPhotoUrl(160) }}" alt="" class="user-image rounded">
				{% endif %}

				<h3 {% if block.showPositions %}class="flush"{% endif %}>{{ user.fullName }}</h3>
				
				{# Positions #}
				{% if block.showPositions %}
					<p class="user-title"><i>{{ user.position }}</i></p>
				{% endif %}
			</div>

			{% if block.width == '' %}</div><div class="grid__item floating__item portable-one-half anchored-two-thirds">{% endif %}
						
			{# Bios #}
			{% if block.showBios %}
				{{ user.body }}
			{% endif %}
			
			{% if block.showBios == 0 %}
				<div class="centered">
			{% endif %}

			{# Phones #}
			{% if block.showPhones and user.phone %}
				<p class="{% if block.showEmails %}flush {% endif %}">
				{% if user.phoneUnformatted %}
					<a href="tel:+1{{ user.phoneUnformatted }}">
				{% endif %}

					{{ user.phone }}

				{% if user.phoneUnformatted %}
					</a>
				{% endif %}
				</p>
			{% endif %}
			
			{# Emails #}
			{% if block.showEmails and user.email %}
				<p><a href="mailto:{{ user.email }}" class="push-bottom">{{ user.email }}</a></p>
			{% endif %}

			{% if block.showBios == 0 %}
				</div>
			{% endif %}

			{% if block.width == '' %}</div></div>{% endif %}

		{% if block.enableCards == 1 %}</div>{% endif %}
	</div>{% endfor %}{% endif %}{#

		Contact Form Element

	#}{% if block.type == 'contactFormElement' %}<div class="grid__item {{ block.width }}">
		{% include "_embeds/_contact-element" %}
	</div>{% endif %}{# 
#}{% endfor %}