{% if block.enableCards == 1 %}<div class="card">{% endif %}
	{% if block.width == '' %}<div class="grid soft-half--ends floating floating--left"><div class="grid__item floating__item portable-one-half anchored-one-third">{% endif %}

	{% if block.showPhotos %}<div class="centered">{% endif %}
		
		{# Photos #}
		{% if block.showPhotos %}
			<img src="{{ user.getPhotoUrl(160) }}" alt="" class="user-image rounded">
		{% endif %}

		<h3>{{ user.fullName }}</h3>
		
		{# Positions #}
		{% if block.showPositions %}
			<p class="user-title"><i>{{ user.position }}</i></p>
		{% endif %}
		
	{% if block.showPhotos %}</div>{% endif %}

	{% if block.width == '' %}</div><div class="grid__item floating__item portable-one-half anchored-two-thirds">{% endif %}
	
	{% if block.showPhotos %}<div class="handheld-centered">{% endif %}
		
		{# Bios #}
		{% if block.showBios %}
			{{ user.body }}
		{% endif %}
	
		{# Phones #}
		{% if block.showPhones and user.phone %}
			<p class="{% if block.showEmails %}flush {% endif %}">
			{% if user.phoneUnformatted %}
				<a href="tel:+1{{ user.phoneUnformatted }}">
			{% endif %}

				{{ user.phone }}

			{% if user.phoneUnformatted %}
				</a>
			{% endif %}
			</p>
		{% endif %}
		
		{# Emails #}
		{% if block.showEmails and user.email %}
			<p><a href="mailto:{{ user.email }}">{{ user.email }}</a></p>
		{% endif %}

	{% if block.showPhotos %}</div>{% endif %}

	{% if block.width == '' %}</div></div>{% endif %}

{% if block.enableCards == 1 %}</div>{% endif %}