<section class="hero">
	<div class="shell background-cover overlay--dark soft--ends" style="background-image: url('{% block image %}{% endblock %}');">
		<div class="overlay__item ratio ratio--thin flush">
			<div class="ratio__item floating floating--left floating--bottom">
				<div class="floating__item">
					<h1 class="flush">{% block title %}{% endblock %}</h1>
				</div>
			</div>
		</div>
	</div>
</section>