.logo {
	position: relative;
	top: 15px;
	left: -5px;
	max-width: 140px;
	width: 140px;
	height: 60px;
	margin-bottom: 0;
}

html {
	background-color: $dark-color;
}

body {

	& > header {
		position: fixed;
		top: 0px;
		z-index: 1;
		background-color: $light-color;
		box-shadow: 0 0 8px rgba(0,0,0,.2);

		& + section {
			margin-top: 92px;
		}
	}
}