html {
	background-color: $dark-color;
}

body {
	& > header {
		position: fixed;
		top: 0px;
		z-index: 15;
		background-color: $light-color;
		box-shadow: 0 0 8px rgba(0,0,0,.2);

		.shell {
			box-shadow: none;
		}

		& + section {
			margin-top: 92px;

			@include media-query(handheld) {
				margin-top: 68px;
			}
		}
	}
}


// Logo
.logo {
	position: relative;
	top: 14px;
	left: -12px;
	max-width: 200px;
	width: 200px;
	height: 60px;
	margin-bottom: 0;
	
	.mark-top, .mark-bottom {
		position: absolute;
		transform: translate(0px, 0px);
		@include vendor(transition, all $global-duration*2 $global-function);
	}

	&:hover {

		.mark-top {
			transform: translate(5px, -5px);
		}

		.mark-bottom {
			transform: translate(-5px, 5px);
		}
	}

	@include media-query(handheld) {
		transform: scale(.85);
		top: 3px;
		left: -8px;
	}
}

// Breadcrumbs

.crumbs {
	margin-bottom: 0px;
	margin-left: 0px;

	li {
		display: inline-block;
		margin-bottom: 0px;

		a {
			display: inline-block;
			margin: 0px;
			padding: $base-spacing-unit/4 $base-spacing-unit/3;
			text-decoration: none;
			font-size: $font-size*.8;
			font-weight: 700;
			border-left: 1px solid rgba(0, 0, 0, .15);
			color: rgba(0, 0, 0, .6);

			&:hover {
				background-color: rgba(0, 0, 0, .15);
				color: rgba(0, 0, 0, .8);
			}

			&.current {
				background-color: darken($primary-color, 20);
				color: $light-color;
			}
		}

		&:last-child {
			a {
				border-right: 2px solid rgba(0, 0, 0, .15);
			}
		}
	}

	@include media-query(handheld) {
		li {
			&:first-child {
				a {
					border-left: 0px;
				}
			}
		}
		
		display: none;
	}
}

// Cards
.card {
	padding: $base-spacing-unit/2;
	border: 1px solid darken($medium-color, 7);
	box-shadow: 0 2px 0 darken($medium-color, 7);
	margin-bottom: $base-spacing-unit/2;
	background-color: $light-color;
	@include radius($border-radius*2);

	*:last-child {
		margin-bottom: 0px;
	}
}