html {
	background-color: $dark-color;
}

body {
	& > header {
		position: fixed;
		top: 0px;
		z-index: 2;
		background-color: $light-color;
		box-shadow: 0 0 8px rgba(0,0,0,.2);

		.shell {
			box-shadow: none;
		}

		& + section {
			margin-top: 92px;
		}
	}
}

.logo {
	position: relative;
	top: 15px;
	left: 20px;
	max-width: 200px;
	width: 200px;
	height: 60px;
	margin-bottom: 0;
	
	.mark-top, .mark-bottom {
		position: absolute;
		transform: translate(0px, 0px);
		@include vendor(transition, all $global-duration*2 $global-function);
	}

	&:hover {

		.mark-top {
			transform: translate(5px, -5px);
		}

		.mark-bottom {
			transform: translate(-5px, 5px);
		}
	}

	@include media-query(handheld) {
		transform: scale(.9);
		top: 16px;
		left: 0px;
	}
}