@if $use-buttons == true {

	.btn, input[type=button], input[type=submit] {
		display: inline-block;
		font-family: $base-heading-font;
		font-size: $button-size*1.1;
		font-weight: 600;
		line-height: 0px;
		letter-spacing: -.5px;
		text-decoration: none;
		border: $button-size/6 solid $cta-color;
		padding: $button-size*1.4 - 1 $button-size*3 $button-size*1.4 + 1;
		margin-bottom: $base-spacing-unit/2;
		background-color: $cta-color;
		color: $light-color;
		@include radius($border-size);

		@include media-query(handheld) {
			font-size: $button-size;
			padding: $button-size*1.2 - 1 $button-size*1.5 $button-size*1.2 + 1;
			text-align: center !important;

			& + .btn {
				margin-left: 0px;
			}
		}

		&:hover {
			background: lighten($cta-color, 5);
			border-color: lighten($cta-color, 5);
			color: $light-color;
		}

		// Buttons on Background Colors

		.background-primary:not(.image-fill) & {
			background-color: darken($primary-color, 15);
			border-color: darken($primary-color, 15);

			&:hover {
				background-color: darken($primary-color, 20);
				border-color: darken($primary-color, 20);
			}
		}

		.background-secondary:not(.image-fill) & {
			background-color: darken($secondary-color, 15);
			border-color: darken($secondary-color, 15);

			&:hover {
				background-color: darken($secondary-color, 20);
				border-color: darken($secondary-color, 20);
			}
		}

		// .background-tertiary:not(.image-fill) & {
		// 	background-color: lighten($tertiary-color, 10);
		// 	border-color: lighten($tertiary-color, 10);

		// 	&:hover {
		// 		background-color: lighten($tertiary-color, 20);
		// 		border-color: lighten($tertiary-color, 20);
		// 	}
		// }

		.background-dark:not(.image-fill) &, .background-tertiary:not(.image-fill) & {
			background-color: $secondary-color;
			border-color: $secondary-color;

			&:hover {
				background-color: darken($secondary-color, 10);
				border-color: darken($secondary-color, 10);
			}
		}

		.background-medium:not(.image-fill) & {
			background-color: $secondary-color;
			border-color: $secondary-color;

			&:hover {
				background-color: darken($secondary-color, 10);
				border-color: darken($secondary-color, 10);
			}
		}

		// Color-Explicit Buttons

		&.btn-primary {
			background-color: $primary-color;
			border-color: $primary-color;
			color: $light-color;

			&:hover {
				background-color: lighten($primary-color, 5);
				border-color: lighten($primary-color, 5);
				color: $light-color;
			}
		}

		&.btn-secondary {
			background-color: $secondary-color;
			border-color: $secondary-color;
			color: $light-color;

			&:hover {
				background-color: lighten($secondary-color, 5);
				border-color: lighten($secondary-color, 5);
				color: $light-color;
			}
		}

		&.btn-tertiary {
			background-color: $tertiary-color;
			border-color: $tertiary-color;
			color: $light-color;

			&:hover {
				background-color: lighten($tertiary-color, 5);
				border-color: lighten($tertiary-color, 5);
				color: $light-color;
			}
		}
	}

	.btn-small {
		@extend .btn;
		font-size: $button-size*.9;
		padding: ($button-size*1.2 - 1) $button-size*1.5 ($button-size*1.2 + 1);
	}
}