@if $use-copy == true {

/* ============================================================

    $PARAGRAPHS

============================================================ */

  p {
    font-family: $base-copy-font;
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $base-spacing-unit/2;
    letter-spacing: -.5px;

    .background-primary &, 
    .background-secondary &, 
    .background-tertiary &,
    .background-dark & {
      color: $light-color;
    }
    
    .background-medium &,
    .background-light & {
      color: $dark-color;
    }
  }

  b, strong {
    font-weight: 700;
  }




/* ============================================================

    $SMALL

============================================================ */

  small {
    display: block;
    font-family: $base-copy-font;
    font-size: $font-size*.8;
    line-height: $line-height*.8;
    font-weight: 700;
    margin-bottom: $base-spacing-unit/2;
    letter-spacing: -.5px;

    a {
      font-size: $font-size*.8;
      line-height: $line-height*.8;
    }

    .background-primary &,
    .background-secondary &,
    .background-tertiary &,
    .background-medium &,
    .background-dark & {
      color: $light-color;

      a {
        color: $light-color;
      }
    }
  }




/* ============================================================

    $ASIDE

============================================================ */

  aside {
    
  }




/* ============================================================

    $FONT AWESOME OVERRIDES

============================================================ */




}