@if $use-copy == true {

/* ============================================================

    $PARAGRAPHS

============================================================ */

  p {
    font-family: $base-copy-font;
    font-size: $font-size;
    line-height: $line-height;
    margin-bottom: $base-spacing-unit/2;
    letter-spacing: -.3px;

    .background-primary &, 
    .background-secondary &, 
    .background-tertiary &,
    .background-dark & {
      color: $light-color;
    }
    
    .background-medium &,
    .background-light & {
      color: $dark-color;
    }
    
    i {
      color: $medium-color;

      .background-medium &,
      .background-light & {
        color: $dark-color;
      }
    }

    @include media-query(handheld) {
      font-size: $font-size*.9;
      line-height: $line-height*.9;
    }
  }

  b, strong {
    font-weight: 700;
  }




/* ============================================================

    $SMALL

============================================================ */

  small {
    display: block;
    font-family: $base-copy-font;
    font-size: $font-size*.8;
    line-height: $line-height*.8;
    font-weight: 700;
    margin-bottom: $base-spacing-unit/2;
    letter-spacing: -.5px;

    a {
      font-size: $font-size*.8;
      line-height: $line-height*.8;
    }

    .background-primary &,
    .background-secondary &,
    .background-tertiary &,
    .background-medium &,
    .background-dark & {
      color: $light-color;

      a {
        color: $light-color;
      }
    }
  }




/* ============================================================

    $BLOCKQUOTE

============================================================ */

  blockquote {
    background-color: $primary-color;
    padding: $base-spacing-unit/3*2;
    padding-bottom: $base-spacing-unit*1.6;
    @include radius($border-radius*2);
    
    &, & p {
      font-family: $base-copy-font;
      font-style: italic;
      font-size: $font-size*1.3;
      line-height: $line-height*1.1;
      letter-spacing: -1px;
      font-weight: 500;
      color: $light-color !important;
      text-indent: 0;
    }

    footer {
      display: inline-block;
      width: auto;
      float: right;
      background-color: transparent;
      font-size: $font-size*1.3;
      margin-top: $base-spacing-unit/2.5;

      &:before {
        content: '—';
        text-indent: 0;
        position: relative;
        left: -5px;
      }
    }

    @include media-query(handheld) {
      margin-bottom: $base-spacing-unit/2;

      p, footer {
        font-size: $font-size;
        line-height: $line-height*.9;
        letter-spacing: -.5px;
      }
    }
  }
}