@if $use-forms == true {

	label {
		cursor: default;
		margin-bottom: $base-spacing-unit/3;

		input {
			margin-bottom: 0px;
		}
	}

	input {
		margin-bottom: $base-spacing-unit/2;
		@include vendor(transition, all $global-duration*2 $global-function);
	}

	input[type=text], input[type=password], textarea {
		width: 100%;
		padding: $base-spacing-unit/4;
		border: 1px solid $medium-color;
		box-shadow: 0 2px 0 darken($medium-color, 3);
		@include radius($border-radius);
		outline: none;
		cursor: text;
	}

}