@if $use-headings == true {

	@include headings(1,6) {
  	font-family: $base-heading-font;
  	color: $dark-color;
  	margin-bottom: $base-spacing-unit/2;
    letter-spacing: -1px;

		.background-primary &, 
		.background-secondary &, 
		.background-tertiary &, 
		.background-dark & {
			color: $light-color;
		}
		
		.background-medium &,
		.background-light & {
			color: $dark-color;
		}

		@include media-query(handheld) {
			margin-bottom: $base-spacing-unit/2;
		}
	}

	h1 {
		font-size: $h1;
		line-height: $h1-height;
	}

	h2 {
		font-size: $h2;
		line-height: $h2-height;
	}

	h3 {
		font-size: $h3;
		line-height: $h3-height;
		color: darken($medium-color, 30);

		.background-medium & {
			color: darken($medium-color, 30);
		}
	}

	h4 {
		font-size: $h4;
		line-height: $h4-height;
	    letter-spacing: 0px;

	    @include media-query(handheld) {
			margin-bottom: $base-spacing-unit/3;
		}
	}

	h5 {
		font-size: $h5;
		line-height: $h5-height;
	    letter-spacing: 0px;
	}

	h6 {
		font-size: $h6;
		line-height: $h6-height;
	    letter-spacing: 0px;
	}
}