@if $use-lists == true {

  ul, ol {
    display: inline-block;
    width: 100%;
  	font-family: $base-copy-font;
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: -.5px;
  	margin: 0 0 $base-spacing-unit/2 $base-spacing-unit/2;

    li {
		  margin-bottom: $base-spacing-unit/4;

		  .background-primary &, 
	    .background-secondary &, 
	    .background-tertiary &, 
	    .background-dark & {
	    	color: $light-color;
	    }

      .background-light &, 
      .background-medium & {
        color: $dark-color;
      }
    }

    @include media-query(handheld) {
      font-size: $font-size*.9;
      line-height: $line-height*.9;
      margin-left: $base-spacing-unit/3;
    }

    &.unstyled {
      list-style: none;
      margin-left: 0px;
    }
  }

}