@if $use-sections == true {

	section {
		position: relative;
		margin: 0 auto;
		width: 100%;
		overflow: hidden;
	}

	.section--primary {
		background: $primary-color;
	}

	.section--secondary {
		background: $secondary-color;
	}

	.section--tertiary {
		background: $tertiary-color;
	}

	.section--medium {
		background: $medium-color;
	}

	.section--dark {
		background: $dark-color;
	}

}