// Navigation Lists
nav {
	margin-bottom: $base-spacing-unit;

	ul {
		display: block;
		text-align: right;
		margin: 0px;

		li {
			display: inline-block;
			margin: 0px;

			a {
				display: inline-block;
				font-family: $base-heading-font;
				font-size: $base-font-size*1.3;
				font-weight: 600;
				padding: $button-size*1.5 + 1 $button-size*1.5 $button-size*1.5 - 1;
				border-left: 1px solid rgba(0,0,0,.1);
				text-decoration: none;
				margin-bottom: 0px;
				color: $dark-color;
			}

			&:last-child {
				a {
					border-right: 1px solid rgba(0,0,0,.1);
				}
			}

			&:hover {
				a {
					background-color: $medium-color;
					color: $dark-color;
					border-color: $medium-color;
				}

				& + li {
					border-color: $medium-color;
				}
			}
		}
	}
}

// Nav Panels

.nav {
	position: fixed;
	top: 0px;
	right: -70%;
	bottom: 0px;
	width: 70%;
	padding: $base-spacing-unit/3*2;
	background-color: rgba($dark-color, .98);
	z-index: 16;

	@include media-query(handheld) {
		width: 100%;
		right: -100%;
		padding: $base-spacing-unit/2;
		background-color: $dark-color;
	}
 
	&:after {
		content: '';
		position: fixed;
		top: 0px;
		left: -30%;
		bottom: 0px;
		width: 30%;
		background-color: $cta-color;

		@include media-query(handheld) {
			width: 0;
			left: 0;
		}
	}

	&, &:after {
		@include vendor(transition, all $global-duration*3 $global-function);

		@include media-query(handheld) {
			@include vendor(transition, all $global-duration $global-function);
		}
	}

	nav {
		display: table;
		height: 100%;

		ul {
			display: table-cell;
			vertical-align: middle;
		}
	}

	// Nav Panel Menu

	nav {
		ul {
			li {
				position: relative;
				width: 100%;
				text-align: left;

				a {
					font-size: $font-size*2.5;
					font-weight: 300;
					padding: $button-size*1.5 $button-size;
					text-align: left;
					border: 0px;
					color: $light-color;

					&:hover {
						background-color: transparent;
						color: $cta-color;
						text-indent: 5px;
					}
				}

				&:hover {
					a {
						background-color: transparent;
					}
				}

				ul {
					display: block;
					position: relative;
					left: $base-spacing-unit;
					height: 0;
					overflow: hidden;

					li {
						a {
							font-size: $font-size*1.3;
							padding: $button-size/2;
						}
					}
				}
			}
		}

		@include media-query(handheld) {
			ul {
				li {
					a {
						font-size: $font-size*1.5;
						width: 100%;
						padding: $button-size 0;
						border-bottom: $border-size solid rgba(0,0,0,.05);

						&:hover {
							text-indent: 0;
						}
					}

					&:last-child {
						a {
							border-bottom: 0px;
						}
					}
				}
			}
		}
	}
}

// Nav Close Button

$icon-stroke: 4px;

.nav-close {
	position: absolute;
	top: $base-spacing-unit/2;
	right: $base-spacing-unit/2;
	width: $base-spacing-unit;
	height: $base-spacing-unit;
	@include rotate(45deg);
	@include vendor(transition, all $global-duration*2 $global-function);
	cursor: pointer;

	&:before, &:after {
		content: '';
		position: absolute;
		@include vendor(transition, all $global-duration*2 $global-function);
	}
	
	&:before {
		top: 50%;
		left: 0;
		width: 100%;
		height: $icon-stroke;
		margin-top: -$icon-stroke/2;
		background-color: $light-color;
	}

	&:after {
		top: 0;
		left: 50%;
		height: 100%;
		width: $icon-stroke;
		margin-left: -$icon-stroke/2;
		background-color: $light-color;
	}

	&:hover {
		@include rotate(-135deg);
		@include vendor(transition, all $global-duration*2 $global-function);

		&:before, &:after {
			background-color: $error-color;
			@include vendor(transition, all $global-duration*2 $global-function);
		}
	}

	@include media-query(handheld) {
		width: $base-spacing-unit/3*2;
		height: $base-spacing-unit/3*2;
	}
}

// Nav Body Modifier
.nav-open {
	.nav {
		right: 0;

		&:after {
			left: 0;
		}
	}
}