nav {
	position: relative;
	top: $base-spacing-unit;
	margin-bottom: $base-spacing-unit;

	ul {
		display: block;
		text-align: right;
		margin: 0px;

		li {
			display: inline-block;
			margin: 0px;

			a {
				display: inline-block;
				font-family: $base-heading-font;
				font-size: $base-font-size*1.4;
				font-weight: 600;
				padding: $button-size/2 $button-size*.75;
				text-decoration: none;
				margin-bottom: 0px;
			}
		}
	}

	@include media-query(handheld) {
		top: 0px;

		ul {
			li {
				width: 100%;

				a {
					width: 100%;
					padding-left: 0px;
					padding-right: 0px;
					border-bottom: $border-size solid $medium-color;
				}

				&:first-child a {
					border-top: $border-size solid $medium-color;
				}
			}
		}
	}
}