{% extends "_layout" %}

{% block content %}

{% set assets = entry.pageImage %}

	{% if assets | length %}

		{% embed "_embeds/hero.twig" %}

			{% block image %}{% for asset in assets %}{{ asset.url }}{% endfor %}{% endblock %}

			{% block title %}{{ entry.title }}{% endblock %}

		{% endembed %}
		<section>
			<div class="shell">
				<div class="grid">
	{% else %}
		<section>
			<div class="shell">
				<div class="grid">
					<div class="grid__item">
						<h1>{{ entry.title }}</h1>
					</div>
	{% endif %}
				<div class="grid__item lap-and-up-two-thirds">
					{{ entry.body }}
				</div><div class="grid__item lap-and-up-one-third">
					{% if entry.list | length %}
					    <ul class="bulleted">
					        {% for row in entry.list %}
					            <li>{{ row.description }}</li>
					        {% endfor %}
					    </ul>
					{% endif %}
				</div>
			</div>
		</div>
	</section>
{% endblock %}