{% extends "_master" %}

{% set title = entry.title %}

{% block content %}

	{% include "_embeds/_breadcrumbs" %}

	{# <section>
		<div class="shell">
			<div class="grid">
				<div class="grid__item">
					<h1>{{ entry.title }}</h1>
				</div>
				<div class="grid__item lap-and-up-two-thirds">
					{{ entry.body }}
				</div><div class="grid__item lap-and-up-one-third">
					{{ entry.sidebar }}
				</div>
			</div>
		</div>
	</section> #}

	{% include "_embeds/_page-content" %}

{% endblock %}