<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US" class="background-light">
<head>
	<meta charset="utf-8" />
	<title>{{ siteName }}.com</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="//use.typekit.net/sbc2gns.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/assets/css/master.min.css">
</head>

<style>
	html {
		overflow: hidden;
	}
	
	body {
		position: fixed;
		top: 0px;
		right: 0px;
		bottom: 0px;
		left: 0px;
	}

	img {
		max-width: 260px;
	}
</style>

<body class="floating">
	<div class="floating__item">
		<img src="/assets/images/telics_logo.png" alt="Telics.com" class="push--bottom">
		<h2>Integrity. Fairness. Excellence.</h2>
	</div>
</body>

</html>