<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<script src="//use.typekit.net/sbc2gns.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="/assets/css/master.min.css">
</head>

<body>
	<header>
		<div class="shell hard--ends">
			<div class="soft-half--ends">
				<div class="grid">
					<div class="grid__item one-third">
						<a href="/"><img src="/assets/images/telics_logo.png" alt="" style="max-width: 180px;"></a>
					</div><div class="grid__item two-thirds">
						<nav>
							<ul>
								<li><a href="#">About Us</a></li>
								<li><a href="#">Services</a></li>
								<li><a href="#">Careers</a></li>
								<li><a href="#">Management</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</header>
	<section class="section--primary">
		<div class="shell">
			<div class="grid centered">
				<div class="grid__item centered">
					<div class="constrained">
						<h2>Welcome to Telics</h2>
						<p class="text--larger">TELICS is a full service utility design and support firm providing a broad range of integrated services including Design, Right-of-Way and Permitting, Utility Coordination, Traffic Signal Cabling, Special Projects, Staffing and Emergency Response Services.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section>
		<div class="shell">
			<div class="grid">
				<div class="grid__item lap-and-up-one-half">
					<p>For over 30 years, TELICS has provided services to Telecommunication and Utility Companies, other consultants, Municipalities and Departments of Transportation.  We have a proven track record of providing our services in a cost effective and timely manner.</p>
				</div><div class="grid__item lap-and-up-one-half">
					<p>Our team strives to conduct ourselves in a manner that reminds our clients and employees of a simpler time when a handshake was a contract. Our standards are based on the values of <b>Integrity, Loyalty, Honestly, Fairness and Excellence.</b> </p>
				</div>
			</div>
		</div>
	</section>
	<footer class="section--medium">
		<div class="shell">
			<div class="grid">
				<div class="grid__item lap-and-up-one-quarter">
					<h4>About Us</h4>
					<p>Lorem ipsum Deserunt incididunt Duis irure quis occaecat ea quis minim aliqua in amet nisi Excepteur non commodo qui Duis deserunt officia commodo magna ut ut.</p>
					<a href="#">Read More</a>
				</div><div class="grid__item lap-and-up-one-half">
					<h4>Services</h4>
					<div class="grid">
						<div class="grid__item one-half">
							<ul>
								<li><a href="#">Overview</a></li>
								<li><a href="#">Design</a></li>
								<li><a href="#">Utility Coordination</a></li>
								<li><a href="#">Traffic Signal Cabling</a></li>
								<li><a href="#">Right-of-Way &amp; Relocation</a></li>
								<li><a href="#">Appraisal</a></li>
							</ul>
						</div><div class="grid__item one-half">
							<ul>
								<li><a href="#">Pole Inspection &amp; Maint</a></li>
								<li><a href="#">Special Projects</a></li>
								<li><a href="#">Permitting</a></li>
								<li><a href="#">Staffing</a></li>
								<li><a href="#">Emergency Response</a></li>
								<li><a href="#">CATV</a></li>
							</ul>
						</div>
					</div>
				</div><div class="grid__item lap-and-up-one-quarter">
					<h4>Contact</h4>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
