<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="//use.typekit.net/sbc2gns.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/master.min.css">
</head>

<body>
	<div class="nav">
		<nav>
			<ul class="flush">
				{% set pages = craft.entries.section('pages').level('1') %}
				{% nav page in pages %}<li>
					{{ page.getLink() }}
				</li>{% endnav %}
			</ul>
		</nav>
		<i class="nav-close"></i>
	</div>
	<header>
		<div class="shell hard">
			<a href="/" class="logo float--left">{% embed "_embeds/logo-wide.twig" %}{% endembed %}</a>
			<nav class="flush">
				<ul>
					<li><a href="#" class="nav-trigger caps">Menu <i class="fa fa-fw fa-bars"></i></a></li>
					{# {% for entry in craft.entries.section('pages').level(1) %}<li>
							<a href="{{ entry.url }}">{{ entry.title }}</a>
						</li>{% endfor %} #}
				</ul>
			</nav>
		</div>
	</header>

	{% block content %}

		<section>
			<div class="image-fill image-blur" style="background-image: url('/assets/images/pageimages/cat5.jpg');"></div>
			<div class="shell">
				<div class="grid centered color-light">
					<div class="grid__item centered">
						<div class="constrained">
							<p class="text-larger"><b>TELICS is a full service utility design and support firm</b> providing a broad range of integrated services including Design, Right-of-Way and Permitting, Utility Coordination, Traffic Signal Cabling, Special Projects, Staffing and Emergency Response Services.</p>
							<a href="/services" class="btn flush">Learn More</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="background-medium">
			<div class="shell">
				<div class="grid handheld-centered">
					<div class="grid__item centered">
						<h2>Experience You Can Trust</h2>
					</div>
					<div class="grid__item lap-and-up-one-half">
						<p class="flush"><b>For over 30 years,</b> TELICS has provided services to Telecommunication and Utility Companies, other consultants, Municipalities and Departments of Transportation.  We have a proven track record of providing our services in a cost effective and timely manner.</p>
					</div><div class="grid__item lap-and-up-one-half">
						<p class="flush">Our team strives to conduct ourselves in a manner that reminds our clients and employees of a simpler time when a handshake was a contract. Our standards are based on the values of Integrity, Loyalty, Honestly, Fairness and Excellence.</p>
					</div>
				</div>
			</div>
		</section>

		<section class="background-primary">
			<div class="shell">
				<div class="grid centered">
					<div class="grid__item centered">
						<div class="constrained">
							<h2>Have a Project in Mind?</h2>
							<p class="text-larger">Clients seeking to supplement their internal staff frequently partner with TELICS to better manage resources for significant capital projects, meet critical milestones, and control overhead expense.</p>
							<a href="/contact" class="btn flush">Let's Get Started</a>
						</div>
					</div>
				</div>
			</div>
		</section>
		
	{% endblock %}
	
	<footer class="background-dark">
		<div class="shell">
			<div class="grid handheld-centered">
				<div class="grid__item lap-and-up-two-thirds">
					<h4>About Telics</h4>
					<p>TELICS, headquartered near uptown Charlotte, North Carolina employs 200+ associates serving Communications Companies, Consultants, Utility Companies, Departments of Transportation, Municipalities, and Transportation and Infrastructure Contractors.</p>
					<a href="#" class="link-arrow">Learn More</a>
				</div><div class="grid__item lap-and-up-one-third">
					<h4>Contact Us</h4>
					<p>Monday - Friday<br>9am - 5pm EST<br>(864) 420-0148<br><a href="#">hello@telics.com</a></p>
					<a href="#" class="btn-small">Client Login</a>
				</div><div class="grid__item handheld-centered">
					<small>&copy; {{ now|date('Y') }} {{ siteName }} | All Rights Reserved</small>
				</div>
			</div>
		</div>
	</footer>

	<script>
		$('.nav-trigger, .nav-close').on('click', function() {
			$('html').toggleClass('nav-open');
			return false;
		});

		$('.nav li').on('click', function() {
			$(this).toggleClass('open');
		});
	</script>
</body>
</html>
