<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>{{ entry.title }} {% for parent in entry.ancestors|reverse %}| {{ parent.title }} {% endfor %} | {{ siteName }}</title>
	<link rel="home" href="{{ siteUrl }}" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="/assets/js/chosen.jquery.min.js"></script>
	<script src="//use.typekit.net/sbc2gns.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="/assets/css/master.min.css">
</head>
<body>

	{% set firstSegment = craft.request.firstSegment %}
	{% set lastSegment = craft.request.lastSegment %}

	<div class="wrapper">
		{% include "_embeds/_mobile-nav" %}

		{% include "_embeds/_nav-bar" %}

		{% block content %}

			{# Extending Template's Contents Injected Here #}
			
		{% endblock %}
		
		{% include "_embeds/_footer" %}
	</div>

	{% if currentUser %}
		<section class="signin background-secondary">
			<i class="signin-trigger nav-close"></i>
				<div class="sidebar floating floating--left">
					<div class="floating__item">
						<h1>Hello, {% if currentUser.companyName %}{{ currentUser.companyName }}{% else %}{{ currentUser.firstName }}{% endif %}</h1>
						<p>Have a question? <a href="/contact">Contact Us!</a></p>
						<a href="{{ logoutUrl }}" class="btn flush">Sign Out</a>
					</div>
				</div>
				<div class="body background-light">
					{{ currentUser.body }}
					{% if currentUser.documents|length %}
					<h2>Documents</h2>
					<table>{% for document in currentUser.documents %}
						<tr>
							<td>{{ document.title }}</td>
							<td class="centered"><a href="{{ document.url }}">View/Download</a></td>
						</tr>
					{% endfor %}</table>
					{% endif %}
				</div>
		</section>
	{% else %}
		<section class="signin floating background-secondary">
			<i class="signin-trigger nav-close"></i>
				<div class="floating__item">
					{% include "_embeds/_signin-form" %}
				</div>
			</div>
		</section>
	{% endif %}

	{% include "_embeds/_global-scripts" %}
</body>
</html>