{% extends "_master" %}

{% set pageTitle = "Apply" %}

{% set positionSlug = craft.request.getSegment(2) %}

{% block content %}

	{% for entry in craft.entries.slug(positionSlug) %}

		{% if entry.pageTitle == 1 %}
			{% include "_embeds/_page-hero" with {'pageTitle': entry.title } %}
		{% endif %}

		{# {% include "_embeds/_page-content" %} #}

	{% endfor %}

		
		
		<section class="background-medium">
			<div class="shell">
				<h1>Apply Now</h1>
			</div>
		</section>



	{% include "_embeds/_breadcrumbs" %}

{% endblock %}