{% extends "_master" %}

{% block content %}
{% requireLogin %}

<section>
	<div class="shell">
		<div class="grid">
			<div class="grid__item">
				<h1>{% if currentUser.companyName %}{{ currentUser.companyName }}{% endif %} Dashboard</h1>

				{% if currentUser.clientFolderId %}
				<table>
					<tr>
						<th>Filename</th>
						<th class="centered">Last Updated</th>
						<th class="centered">Size</th>
						<th class="centered">Download</th>
					</tr>
					{% for asset in craft.assets.folderId( currentUser.clientFolderId ) %}
    					<tr>
    						<td>{{ asset.filename }}</td>
    						<td class="centered">{{ asset.dateUpdated|date("n/j/y g:i A") }}</td>
    						<td class="centered">{{ asset.size|filesize }}</td>
    						<td class="centered"><a href="{{ asset.url }}">Download</a></td>
    					</tr>
					{% endfor %}
				</table>
				{% endif %}
			</div>
		</div>
	</div>
</section>

{% endblock %}