{% extends "_master" %}

{% requireLogin %}

{% set pageTitle = "Dashboard" %}

{% block content %}

<section class="background-medium">
	<div class="shell">

		<div class="grid">
			<div class="grid__item">
				<a href="{{ logoutUrl }}" class="btn flush float--right">Sign Out</a>
				<h1>{% if currentUser.fullName %}{{ currentUser.fullName }}{% else %}{{ currentUser.companyName }}{% endif %}</h1>
				<hr>
				{# <p>Have a question? <a href="/contact">Let Us Know!</a></p> #}
				
			</div><div class="grid__item anchored-two-thirds">
				{{ currentUser.body }}
			</div><div class="grid__item anchored-one-third">
				{{ currentUser.sidebar }}
			</div>
		</div>

	</div>
</section>

{% if currentUser.documents|length %}
<section class="background-dark">
	<div class="shell">
		<div class="grid">
			<div class="grid__item">
					<h1>Documents</h1>
					<table class="background-light">
						<tr>
							<th>Name</th>
							<th class="centered">Link</th>
						</tr>
						{% for document in currentUser.documents %}
							<tr>
								<td>{{ document.title }}</td>
								<td class="centered"><a href="{{ document.url }}">View/Download</a></td>
							</tr>
						{% endfor %}
					</table>
			</div>
		</div>
	</div>
</section>
{% endif %}

<section class="background-primary">
	<div class="shell">
		<div class="grid centered">
			<div class="grid__item lap-and-up-two-thirds">
				<h2>Have a Question?</h2>
				<br>
				<p class="text-larger">Feel free to contact us any time.</p><br>
				<a href="/contact" class="btn">Contact Us</a>
			</div>
		</div>
	</div>
</section>

{% endblock %}