{% extends "_master" %}

{% block content %}

	{% if entry.pageTitle == 1 %}
		{% include "_embeds/_page-hero" %}
	{% endif %}

	{% include "_embeds/_page-content" %}
	
	{% if entry.type == 'jobListing' %}
		<section class="background-tertiary">
			<div class="shell centered">
				<h1>Apply Online</h1>
				<a href="/{{ entry.ancestors.first.slug }}/{{ entry.slug }}/apply" class="btn">Submit Application</a>
			</div>
		</section>
	{% endif %}

	{% include "_embeds/_breadcrumbs" %}

{% endblock %}