{% extends "_master" %}

{% block content %}

	{% for block in entry.pageContent %}{#

		SECTION - AD UNIT 

		#}{% if block.type == 'adUnit' %}
			{% set image = block.adUnitBGImage.first %}
			<section class="{% if image %}image-fill overlay{% endif %}{{ block.adUnitBGColor }}">
				{% if image %}
					<div class="image__item image-blur" style="background-image: url('{{ image.url }}');"></div>
				{% endif %}
				<div class="shell">
					<div class="grid {% if block.adUnitAlignment == 'left' %}left {% elseif block.adUnitAlignment == 'right' %}right {% else %}centered {% endif %}">
						<div class="grid__item {% if block.adUnitAlignment != 'center' %}lap-and-up-two-thirds {% else %}lap-and-up-three-quarters {% endif %}">
							{% if block.adUnitHeading %}<h2>{{ block.adUnitHeading }}</h2>{% endif %}
							{{ block.adUnitBody }}
							{% for link in block.adUnitLinks %}
								<a href="{{ link.url }}" class="btn flush">{{ link.text }}</a>
							{% endfor %}
						</div>
					</div>
				</div>
			</section>
		{% endif %}{#

		CUSTOM SECTIONS

		#}{% if block.type == 'customSection' %}
			<section class="{{ block.customSectionBGColor }}">
				<div class="shell">
					<div class="grid handheld-centered">
		{% endif %}{#

		#}{% if block.type == 'customSectionEnd' %}
					</div>
				</div>
			</section>
		{% endif %}{#

		ELEMENTS

		#}{% if block.type == 'bodyElement' %}<div class="grid__item {{ block.bodyElementWidth }} {{ block.bodyElementAlignment }}">
				{{ block.bodyElementContent }}
		</div>{% endif %}{#

	#}{% endfor %}

	{# <section class="image-fill">
		<div class="image__item image-blur" style="background-image: url('/assets/images/pageimages/cat5.jpg');"></div>
		<div class="shell">
			<div class="grid centered color-light">
				<div class="grid__item centered">
					<div class="constrained">
						<p class="text-larger"><b>TELICS is a full service utility design and support firm</b> providing a broad range of integrated services including Design, Right-of-Way and Permitting, Utility Coordination, Traffic Signal Cabling, Special Projects, Staffing and Emergency Response Services.</p>
						<a href="/services" class="btn flush">Learn More</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="background-medium">
		<div class="shell">
			<div class="grid handheld-centered">
				<div class="grid__item centered">
					<h2>Experience You Can Trust</h2>
				</div>
				<div class="grid__item lap-and-up-one-half">
					<p class="flush"><b>For over 30 years,</b> TELICS has provided services to Telecommunication and Utility Companies, other consultants, Municipalities and Departments of Transportation.  We have a proven track record of providing our services in a cost effective and timely manner.</p>
				</div><div class="grid__item lap-and-up-one-half">
					<p class="flush">Our team strives to conduct ourselves in a manner that reminds our clients and employees of a simpler time when a handshake was a contract. Our standards are based on the values of Integrity, Loyalty, Honestly, Fairness and Excellence.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="background-primary">
		<div class="shell">
			<div class="grid centered">
				<div class="grid__item centered">
					<div class="constrained">
						<h2>Have a Project in Mind?</h2>
						<p class="text-larger">Clients seeking to supplement their internal staff frequently partner with TELICS to better manage resources for significant capital projects, meet critical milestones, and control overhead expense.</p>
						<a href="/contact" class="btn flush">Let's Get Started</a>
					</div>
				</div>
			</div>
		</div>
	</section> #}

{% endblock %}
