{% extends "_master" %}

{% block content %}

<section class="background-medium">
    <div class="shell">
        <div class="grid soft-half--ends centered">
            <div class="grid__item lap-and-up-one-half handheld-centered flush">
                {% include "_embeds/_signin-form" %}
            </div>
        </div>
    </div>
</section>

<div class="modal floating forgotpassword">
    <a href="#" data-modal-close class="close"></a>
    <div class="floating__item modal-inner">
        {% include "_embeds/_forgotpassword" %}    
    </div>
</div>

<script>
	$(document).ready(function(){
		$('#loginName').focus();
	});
</script>

{% endblock %}