/* ------------------------------------------------------------------------------
    
    $INUIT CSS

------------------------------------------------------------------------------ */

$use-grids:              true;
$use-flexbox:            false;
$use-columns:            false;
$use-nav:                false;
$use-options:            false;
$use-pagination:         false;
$use-breadcrumb:         false;
$use-media:              false;
$use-marginalia:         false;
$use-island:             false;
$use-block-list:         false;
$use-matrix:             false;
$use-split:              false;
$use-this-or-this:       false;
$use-link-complex:       false;
$use-flyout:             false;
$use-arrows:             false;
$use-sprite:             false;
$use-icon-text:          false;
$use-beautons:           false;
$use-lozenges:           false;
$use-rules:              false;
$use-stats:              false;
$use-greybox:            false;
$responsive-extra:       true;
$responsive-extended:    true;
$debug:                  true;




/* ------------------------------------------------------------------------------
    
    $COMPLEX OBJECTS

------------------------------------------------------------------------------ */

$use-layout:              true;
$use-modals:              true;
$use-ratios:              true;
$use-overlays:            true;
$use-images:              true;
$use-tables:              true;

/* ------------------------------------------------------------------------------
    
    $OBJECTS

------------------------------------------------------------------------------ */
$use-copy: 					true;
$use-buttons: 				true;
$use-forms: 				true;
$use-headings: 				true;
$use-icons:              	false;
$use-iframes:              	true;
$use-links:              	true;
$use-lists:              	true;
$use-sections:              true;